<template>
  <div id="dashboard">
    <ul>
      <li class="dash-item">
        <p id="dash-number">228</p>
        <div id="dash-information">
          <h2>Air Max 90</h2>
          <p>
            <i class="mdi mdi-check-decagram" id="icon-storage"></i>Estoque
          </p>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
#dashboard {
  padding: 5px;
  margin-left: 60px;
}

ul {
  width: 95%;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  list-style: none;
}

.dash-item {
  margin-right: 20px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  background-color: #54f2f2;
}

#dash-number {
  width: 80px;
  height: 80px;
  float: left;
  padding-right: 4px;
  line-height: 80px;
  background-color: #54f2f2;
  font-size: 26pt;
  color: #fafafa;
  text-align: center;
  border-right: 2px dashed #fafafa;
}

#dash-information {
  margin-top: 8px;
  float: right;
}

#dash-information h2,
#dash-information p {
  width: 150px;
  text-align: center;
  color: #fafafa;
}
</style>