<template>
  <nav id="header">
    <h1>Harpy.io</h1>
    <ul>
      <li>
        <button class="link" @click="darkMode">
          <i class="mdi mdi-brightness-6"></i>
        </button>
      </li>
      <li>
        <button class="link" id="btn-options">
          <i class="mdi mdi-dots-vertical"></i>
          <div id="options"></div>
        </button>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      local_storage: localStorage,
    };
  },
  methods: {
    darkMode: function () {
      const html = document.querySelector("html").classList,
        dark = "dark-mode";
      html.toggle(dark);
      html.contains(dark)
        ? this.local_storage.setItem(dark, true)
        : this.local_storage.removeItem(dark);
    },
  },
};
</script>

<style scoped>
#header {
  width: 100%;
  height: 38px;
  background-color: var(--secondary);
  color: var(--primary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

h1 {
  float: left;
  margin-left: 60px;
  font-size: 1.7em;
  font-weight: 500;
  font-family: "PT Sans", sans-serif;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  float: right;
  height: 100%;
}

li {
  width: 28px;
  text-align: center;
  margin-right: 3px;
}

.link {
  width: 25px;
  height: 25px;
  color: var(--primary);
  cursor: pointer;
  border-radius: 25%;
  transition: all 0.2s ease;
}

.link:hover {
  background-color: var(--secondary-op);
}

.link i {
  font-size: 1.3em;
}

#btn-options:focus #options {
  height: 140px;
}

#options {
  position: fixed;
  margin-top: 8px;
  float: right;
  width: 280px;
  height: 0px;
  background-color: var(--primary);
  right: 0;
  border-bottom-left-radius: 10px;
  transition: height 0.2s ease;
}

.dark-mode #header {
  color: var(--adjust);
}
</style>