<template>
  <div id="menu" @show="alert('coij')">
    <div id="user">
      <button id="u-exit" class="display-none">
        <i class="mdi mdi-exit-to-app"></i>
      </button>
      <div id="u-photo"></div>
      <h2 class="display-none">Mohamedi Kalmalá</h2>
      <h3 class="display-none">mohamedi.kamala@uol.com.br</h3>
    </div>
    <ul class="flex-display">
      <li v-for="icon in icons" :key="icon.id">
        <button class="link flex-display" @click="buttons">
          <i :class="`mdi mdi-${icon.class}`"></i>
          <p class="display-none">{{ icon.text }}</p>
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  data() {
    return {
      icons: [
        { id: 1, class: "monitor-dashboard", text: "Dashboard" },
        { id: 2, class: "clipboard-list", text: "Inventário" },
        { id: 3, class: "sale", text: "Vendas" },
        { id: 4, class: "cart", text: "Compras" },
        { id: 5, class: "file-chart", text: "Relátorio" },
      ],
    };
  },
  methods: {
    buttons: function () {},
  },
};
</script>

<style scoped>
.display-none {
  display: none;
}

.flex-display {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

#menu {
  position: fixed;
  padding: 0 10px;
  margin: 0;
  width: 30px;
  height: 100vh;
  background-color: var(--secondary);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transition: width 0.2s ease;
}

#user {
  height: min-content;
  color: var(--primary);
  white-space: nowrap;
  padding-bottom: 5px;
  border-bottom: 2px solid var(--border);
}

#user > h2 {
  font-size: 16pt;
  font-weight: 500;
}

#user > h3 {
  font-size: 11pt;
  font-weight: 400;
}

#u-photo {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px -1px;
  background: url(../assets/user.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
  transition: all 0.1s ease;
  box-sizing: border-box;
}

#u-exit {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: right;
  text-align: right;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#u-exit i {
  line-height: 26px;
  font-size: 1.9em;
  font-weight: 900;
  color: var(--primary);
}

#u-exit:hover {
  transform: scale(1.2);
}

ul {
  flex-direction: column;
  list-style: none;
  padding-bottom: 8px;
}

li {
  width: 100%;
}

.link {
  text-align: center;
  height: 45px;
  color: var(--primary);
  transition: all 0.15s ease-out;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 8px;
}

.link:hover {
  color: var(--secondary);
  background-color: var(--primary);
}

.link i {
  width: 30px;
  text-align: center;
  margin: 0 4px;
  font-size: 1.6em;
}

.link p {
  margin-left: 20px;
  font-size: 13pt;
  font-weight: 400;
  text-align: center;
}

/* Hover Menu */
#menu:hover {
  width: 230px;
}

#menu:hover #u-photo {
  width: 50px;
  height: 50px;
}

#menu:hover .display-none {
  display: block;
}

#menu:hover #user {
  padding-bottom: 7px;
}

/* Dark-Mode Adjusts */
.dark-mode .link:hover{
  background-color: var(--adjust);
  color: 2px solid var(--primary);
}
</style>