<template>
  <div id="app">
    <Menu></Menu>
    <Header></Header>
  </div>
</template>

<script>
import Menu from "./components/Menu";
import Header from "./components/Header";

export default {
  components: {
    Menu,
    Header,
  },
};
</script>

<style>
@import url("https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css");
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  transition: background-color 0.2s linear;
}

body {
  background-color: var(--body);
  color: var(--text);
}

button,
input {
  outline: none;
  border: none;
  background: transparent;
}

:root {
  --primary: #eb0853;
  --border: #eb0853;
  --secondary: #f6f5f5;
  --secondary-op: rgba(235, 8, 84, 0.1);
  --body: white;
  --text: black;
}

.dark-mode {
  --primary: #cfcfcf;
  --secondary-op: rgba(250, 250, 250, 0.2);
  --adjust: #eb0853;
  --secondary: #1f1f1f;
  --body: #222;
  --text: white;
}
</style>